[Unit]
Description=Supervisor Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/LinuxBox_Supervisor/bin/supervisor
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=supervisor
# Removed User and Group settings to run as root
# User=supervisor
# Group=supervisor

[Install]
WantedBy=multi-user.target
